<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Card Registration Panel</title>
</head>
<body>

<div style="text-align: center">
    <br/>
    <br/>
    <form action="/homepage/card/registration" method="post" th:object="${cardRegisterForm}" >
        <input type="text" th:field="*{number}" placeholder="Card number">
        <br/>
        <br/>
        <input type="submit" value="Register">
    </form>

</div>

</body>
</html>