<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shop Assistant</title>
  <!--  <link rel="stylesheet" type="text/css" th:href="@{/style.css}"> -->
</head>

<body>
<header class="main">
    <h2>Welcome in a Shop Assistant</h2>
    <h4>Make your shopping easier</h4>
    <div class="container">
        <h3>For customers</h3>
        <nav>
            <ul>
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/login">Sign In</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="containerS">
        <h3>For shops</h3>
        <nav>
            <ul>
                <li>
                    <a href="/shop/register">Register</a>
                </li>
                <li>
                    <a href="/shop/login">Sign In</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

</body>
</html>